<h1>Edit User</h1>

<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="Email">Email</label>
  <input type="email" name="email" value="<%= @user.email %>">

  <label for="Name">Name</label>
  <input type="text" name="name" value="<%= @user.name %>">

  <input type="submit" value="Update">
</form>

<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Delete Account">
</form>
