<h1>Secrets</h1>

  <% @secrets.each do |s| %>
      <p><%= s.content %></p>
      <p><%= s.likes.count %> likes</p>
      <% if s.likes.count > 0  && s.user_id == session[:user_id] %>
        <form action="/likes/<%= s.user_id%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="secret_id" value="<%= s.id %>">
          <input type="submit" value="Unlike">
        </form>
      <% else %>
      <form action="/likes/<%= s.user_id %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="secret_id" value="<%= s.id %>">
        <input type="submit" value="Like">
      </form>
      <% end %>
      <% if s.user_id == session[:user_id] %>
        <form action="/secrets/<%= s.user_id %>" method="post">
        <input type="hidden" name="secret_id" value="<%= s.id %>">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
      <% end %>
  <% end %>
